<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <form method="POST" class="card">
        <h2>🔐 Login</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <input type="text" name="username" placeholder="Enter Username" required>

        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

</div>

</body>
</html>